.header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: skyblue;
    height: 7%;
    justify-content: flex-end;
}

.footer{
    text-align: center;
}

.menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
    background-color: skyblue;
}

.menu-item{
    background-color: skyblue;
}

.nav-list{
    list-style: none;
    font-size: 14px;
    border-right: 0.5px solid lightblue;
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

